
.my-task {        
    border: 1px solid  #c4c5d8;    
    border-radius: 10px;    
    box-shadow: 5px 5px 5px rgb(235, 233, 233);   
    padding: 20px 30px 20px 30px;
}

.task-body {
    background-color: #F0F2F5;
    margin: 20px 0 20px 0;
    padding: 10px 20px 15px 20px;
    border: 1px solid  #c4c5d8;    
    border-radius: 10px;
}

